<!DOCTYPE html>
<html>
  <head>
    <title>MusicProj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <div class = "header">
  <% if logged_in? %>
      <h2>Signed in as: <%= current_user.email%></h2>
     <form action='<%=session_url%>' method = 'post'>
        <input name= "_method" value = 'DELETE' type = 'hidden'/>
           <%= auth_token %>
        <input type ='submit' value = 'Logout'/>
      </form>
  <%else%>
      <ul id = "buttons">
      <li><a href="<%=new_session_url%>">SIGN IN</a></li>
      <li><a href="<%=new_user_url%>">CREATE USER </a></li>
      </ul>
  <% end %>
</div>
  <body>
  <h1>Welcome to the Music App!</h2>
    <%= yield %>
  </body>
</html>
